@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;   
}

body {
    font-family: 'Ubuntu', sans-serif, system-ui;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    z-index: 90;
    font-weight: 300;
    font-size: 20px;
}

.hcontainer {
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 150px;
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar a:hover {
    color: gray;
}

.navbar button {
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    cursor: pointer;
    background: none;
    font-size: 20px;
}

.navbar button:hover {
    background-color: black;
    color: white;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Мобильное меню */
@media (max-width: 1000px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 0;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar li {
        text-align: center;
        padding: 15px 0;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Основной контент */
main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.topcontainer {
    height: calc(100vh - 80px); /* Высота на весь экран минус высота шапки */
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение покрывает весь контейнер без искажений */
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.background-image.active {
    opacity: 1;
    height: calc(100vh-);
}

.topcontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
    z-index: 1;
}

.topcontent {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 0 20px; /* Добавляем отступы по бокам для текста */
}

.topbtn {
    margin-top: 32px;
    border: 1px solid white;
    color: white;
    background: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topbtn:hover {
    background-color: white;
    color: black;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {

    .topcontainer {
        height: calc(100vh - 60px); /* Уменьшаем высоту для мобильных устройств */
    }

    .topcontent h1 {
        font-size: 24px; /* Уменьшаем размер заголовка для мобильных устройств */
    }

    .topbtn {
        font-size: 16px; /* Уменьшаем размер текста кнопки для мобильных устройств */
        padding: 8px 16px;
    }
}

/* Преимущества */
.advantages {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.advcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.advitem {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.additemBorder{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.advitem img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.advitem h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.advitem p {
    font-size: 16px;
    line-height: 24px;
}
@media (max-width: 768px){
    .additemBorder{
        border: none;
    }
}
/* О компании */
.company {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 80px;
}

.companycontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.companytitle {
    width: 100%;
    text-align: center;
}

.companytitle h {
    font-weight: 400;
    font-size: 40px;
    color: #111111;
}

.companytitle p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #111111;
    margin-top: 16px;
}

.companyimg {
    width: 100%;
    max-width: 600px;
}

.companyimg img {
    width: 100%;
    height: auto;
}

/* Портфолио */

/* Основные стили */

.portfolio {
    width: 100%;
    max-width: 1440px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.portfolio-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 400;
}

.portfolio-subtitle {
    text-align: center;
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
    font-weight: 400;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

/* Стили карточек */
.portfolio-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.4);
    aspect-ratio: 3 / 4; /* Пропорции 3024x4032 (портретная ориентация) */
}

.hidden {
    display: none; /* Скрываем элементы с этим классом */
}

.show-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

.show-more-btn:hover {
    background-color: grey;
}

@media (max-width: 768px) {
    .portfolio-item {
        aspect-ratio: 6 / 4; /* Для мобильных устройств */
    }
}

@media (min-width: 769px) {
    .portfolio-item {
        aspect-ratio: 4 / 3; /* Для десктопов */
    }
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем пропорции изображения */
    display: block;
    filter: brightness(0.7); /* Затемнение изображения */

}

/* Наложение при наведении */
.portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    justify-items: center;
    font-weight: 400;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-overlay h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

.portfolio-overlay p {
    margin: 0;
    font-size: 14px;
    opacity: 0.9;
}

/* Модальное окно */
/* Модальное окно */
.modalP {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-contentP {
    position: relative;
    background-color: white;
    border-radius: 12px;
    width: 90%;
    max-width: 900px;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-buttonP {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 34px;
    cursor: pointer;
    color: #333;
    z-index: 1;
}

.modal-image-containerP {
    position: relative;
    width: 100%;
    max-width: 900px;

    overflow: hidden;
    aspect-ratio: 3 / 4; /* Пропорции 3024x4032 (портретная ориентация) */
}

.modal-imageP {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Кнопка "Подробнее" */
.details-button {
    position: absolute;
    bottom: 0px; /* Кнопка всегда внизу */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    z-index: 3; /* Убедимся, что кнопка выше текста */
    backdrop-filter: blur(5px); /* Размытие фона */
    border: none; /* Убираем границу */
    transition: background-color 0.3s ease;
    width: 101%;
}

.details-button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Эффект при наведении */
}

/* Текст описания */
.modal-textP {
    position: absolute;
    bottom: -100%; /* Скрыт за пределами изображения */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    transition: bottom 0.3s ease;
    z-index: 4; /* Текст ниже кнопки */
    backdrop-filter: blur(5px); /* Размытие фона */
    border-bottom: 2px solid #fff;
}

.modal-textP.active {
    bottom: 38px; /* Показываем текст над кнопкой (60px = высота кнопки + отступ) */
}

.modal-textP h3 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 400;
}

.modal-textP p {
    margin: 0;
    color: #fff;
    font-weight: 400;
}

/* Кнопки навигации */
.nav-buttonP {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    z-index: 2;
}

.nav-buttonP:hover {
    background-color: white;
}

.prevP {
    left: 20px;
}

.nextP {
    right: 20px;
}
/* Адаптивность */
@media (max-width: 768px) {
    .modal-contentP {
        width: 95%;

    }

    .modal-image-containerP {
        max-width: 100%;
        aspect-ratio: 3 / 4; /* Сохраняем пропорции для мобильных устройств */
    }
    .close-buttonP{
        right: 20px;
        top: 5px;
    }
    .nav-buttonP {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .portfolio-title {
        font-size: 30px;
    }

    .portfolio-subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {


    .modal-image-containerP {
        aspect-ratio: 3 / 4; /* Сохраняем пропорции для очень маленьких экранов */
    }

    .modal-textP h3 {
        font-size: 20px;
    }

    .modal-textP p {
        font-size: 14px;
    }

    .portfolio-title {
        font-size: 24px;
    }

    .portfolio-subtitle {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 0 10px;
    }
}

/* Карта */
.map-cont {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 80px;
}

.maptitle {
    font-size: 40px;
    text-align: center;
    color: #111111;
    margin-bottom: 32px;
}

.map {
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
}

/* Футер */
footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.footercontainer {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.footer-col ul li {
    margin-bottom: 10px;
    list-style: none;

}

.footer-col ul li a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.footer-col .social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.footer-col .social-links a:hover {
    background-color: grey;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .topcontainer {
        height: calc(100vh - 80px);
        padding: 100px 20px;
    }

    .topcontent h1 {
        font-size: 24px;
    }

    .advcontainer {
        grid-template-columns: 1fr;
    }

    .companycontainer {
        flex-direction: column;
    }

    .map {
        height: 300px;
    }

    .footer-col {
        width: 100%;
    }
    .footer-col ul {
        list-style: none;
    }
    .footer-col ul :hover{
        padding: 0px 0px 0px 5px;
    }
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
    margin: 0 auto; /* Центрирование модального окна */
    top: 20%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: grey;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* Ширина модального окна на мобильных устройствах */
        max-width: 400px; /* Убираем ограничение по максимальной ширине */
        padding: 15px; /* Уменьшаем отступы */
        top: 50%; /* Центрирование по вертикали */
        left: 50%; /* Центрирование по горизонтали */
        transform: translate(-50%, -50%); /* Точное центрирование */
        margin-right: 50%;
    }

    .modal h2 {
        font-size: 20px; /* Уменьшаем размер заголовка */
        margin-bottom: 15px; /* Уменьшаем отступ */
    }

    .form-group label {
        font-size: 14px; /* Уменьшаем размер текста метки */
    }

    .form-group input {
        font-size: 14px; /* Уменьшаем размер текста ввода */
        padding: 8px; /* Уменьшаем отступы внутри поля ввода */
    }

    .submit-btn {
        font-size: 14px; /* Уменьшаем размер текста кнопки */
        padding: 8px; /* Уменьшаем отступы внутри кнопки */
    }

    .close {
        font-size: 20px; /* Уменьшаем размер крестика */
        top: 5px; /* Сдвигаем крестик ближе к краю */
        right: 5px; /* Сдвигаем крестик ближе к краю */
    }
}