@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;   
}

body {
    font-family: 'Ubuntu', sans-serif, system-ui;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    z-index: 90;
    font-weight: 300;
    font-size: 20px;
}

.hcontainer {
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 150px;
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar a:hover {
    color: gray;
}

.navbar button {
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    cursor: pointer;
    background: none;
    font-size: 20px;
}

.navbar button:hover {
    background-color: black;
    color: white;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Мобильное меню */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 0;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar li {
        text-align: center;
        padding: 15px 0;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Основной контент */
main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.topcontainer {
    height: calc(100vh - 80px); /* Высота на весь экран минус высота шапки */
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение покрывает весь контейнер без искажений */
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.background-image.active {
    opacity: 1;
}

.topcontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
    z-index: 1;
}

.topcontent {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 0 20px; /* Добавляем отступы по бокам для текста */
}

.topbtn {
    margin-top: 32px;
    border: 1px solid white;
    color: white;
    background: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topbtn:hover {
    background-color: white;
    color: black;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .topcontainer {
        height: calc(100vh - 60px); /* Уменьшаем высоту для мобильных устройств */
    }

    .topcontent h1 {
        font-size: 24px; /* Уменьшаем размер заголовка для мобильных устройств */
    }

    .topbtn {
        font-size: 16px; /* Уменьшаем размер текста кнопки для мобильных устройств */
        padding: 8px 16px;
    }
}

/* Преимущества */
.advantages {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.advcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.advitem {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.additemBorder{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.advitem img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.advitem h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.advitem p {
    font-size: 16px;
    line-height: 24px;
}

/* О компании */
.company {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.companycontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.companytitle {
    width: 100%;
    text-align: center;
}

.companytitle h {
    font-weight: 400;
    font-size: 40px;
    color: #111111;
}

.companytitle p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #111111;
}

.companyimg {
    width: 100%;
    max-width: 600px;
}

.companyimg img {
    width: 100%;
    height: auto;
}

/* Портфолио */

.portfolio {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    height: 250px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-slider {
    position: relative;
}

.slider-item {
    display: none;
}

.slider-item.active {
    display: block;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-text {
    text-align: center;
    margin-top: 20px;
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .portfolio-item {
        scroll-snap-align: start;
    }

    .modal-content {
        width: 100%;
        padding: 15px;
    }
}

/* Карта */
.map-cont {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.maptitle {
    font-size: 40px;
    text-align: center;
    color: #111111;
    margin-bottom: 32px;
}

.map {
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
}

/* Футер */
footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 64px;
}

.footercontainer {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.footer-col ul li {
    margin-bottom: 10px;
    list-style: none;

}

.footer-col ul li a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.footer-col .social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.footer-col .social-links a:hover {
    background-color: grey;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .topcontainer {
        height: calc(100vh - 80px);
        padding: 100px 20px;
    }

    .topcontent h1 {
        font-size: 24px;
    }

    .advcontainer {
        grid-template-columns: 1fr;
    }

    .companycontainer {
        flex-direction: column;
    }

    .companytitle h {
        font-size: 32px;
    }

    .companytitle p {
        font-size: 16px;
    }

    .map {
        height: 300px;
    }

    .footer-col {
        width: 100%;
    }
    .footer-col ul {
        list-style: none;
    }
    .footer-col ul :hover{
        padding: 0px 0px 0px 5px;
    }
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: grey;
}

/* Адаптация модального окна для мобильных устройств */
@media (max-width: 768px) {
    .modal-content {
        width: 100%;
        padding: 15px;
    }

    .modal h2 {
        font-size: 20px;
    }

    .form-group input {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 14px;
    }

    .additemBorder{
        border: none;
    }
}
